<div id="wrapper">  
<h1 class="top_title">tweet 一覧</h1>
<!--sidebar部分-->  
<div id="sidebar-top">  
  <div>コメント一覧</div> 
  <div>商品一覧</div> 
  <div>ログアウト</div> 
</div>  

<div id="contents">  
  <p>
    <%= link_to "ツイート更新", {:controller => "tweets", :action => "get_tweets"}, method: :get %>
  </p>
  <p>
    <% if @content_type %>
      <%= link_to "テキスト表示", {:controller => "tweets", :action => "index", :tweet_screen => false}, method: :get %>
    <% else %>
      <%= link_to "ツイート表示", {:controller => "tweets", :action => "index", :tweet_screen => true}, method: :get %>
    <% end %>
　 </p>

  <div>
    <table ~~~ style="table-layout:fixed;width:100%;">
      <colgroup>
        <col style="width:50%;">
        <col style="width:20%;">
        <col style="width:30%;">
      </colgroup>
      <tr>
        <th>ツイート</th><th>商品名</th><th>日時</th>
      </tr>
    <% @tweets.each do |tweet| %>
        <tr>
        <td ~~~  style="word-wrap:break-word;>
          <% if @content_type %>
            <%= link_to tweet.html_content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% else %>
            <%= link_to tweet.content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% end %>
        </td>
        <td ~~~ >
          <%= (tweet.item && tweet.item.name) || '' %>
        </td>
        <td>
          <%= (tweet.created_at.to_s.split('+')[0]) || '' %>
        </td>  
        </tr>    
    <% end %>
   </div>
  </table>
</div>  
  

  
  
</div>  

