<h2>個人情報</h2>
<h2>
  <%= link_to "topへ", :controller => "items", :action => "index"  %>
</h2>
<div>
  名前: <%= @item.name %>
</div>

<div>
  <%= form_tag(@save_path, :method => :post) do %>
    <%= text_area(:item, :name) %>
    <%= submit_tag("submitする") %>
  <% end %>
</div>