<h2>個人情報</h2>
<h2>
  <%= link_to "topへ", :controller => "items", :action => "index"  %>
</h2>
<div>
  名前: <%= @item.name %>
</div>

<div>
  <%= form_tag(@save_path, :method => :post) do %>
    <div>
      <%= text_area(:item, :name) %>
    </div>
    <p>画像URL</p>
    <div>
      <input id="register_image_field" name="image" type="text" placeholder="画像のURL"/>
    </div>
    <p>ツイッターid</p>
    <div>
      <%= text_area(:item, :twitter_user_name) %>
    </div>
    <p>メモ</p>
    <div>
      <%= text_area(:item, :content) %>
    </div>
    <%= submit_tag("submitする") %>
  <% end %>
</div>