<h1 >詳細情報</h1>


<div id="wrapper">  

<!--sidebar部分-->  
<div id="sidebar-top">  
  <h3><%= link_to "マイページ", {:controller => "mypages", :action => "index"}, method: :get %></h3> 
  <h3><%= link_to "人物一覧", {:controller => "items", :action => "index"}, method: :get %></h3> 
  <h3><%= link_to "ログアウト", {:controller => "companies", :action => "sign_in_index"}, method: :get %></h3> 
</div>  
</div>  

<div id="contents"> 
<h2>
  <%= link_to "topへ", :controller => "items", :action => "index"  %>
</h2>
<h2>
  <%= @item.name %>
  <div>
  <% if @item.image_path %>
    <img src="<%= @item.image_path %>" width="200px" />
  <% end %>
</div>
</h2>

<div id="contents">
  <div id="article_list"> 
    <div> 
      <div> 
        <% @comments.each do |comment| %>
        <div id="article_wrap"> 
            <h2>
            <%=  comment.content %>
            </h2>
            <p>
              <%= link_to "ユーザーの詳細", :controller => "users", :action => "show", :id => comment.user.id  %>
            </p>
            <p>
              <%= link_to "スカウトを送る", :controller => "comments", :action => "show", :id => comment.id %>
            </p>
            <% if comment.id % 2 == 0%>
              <img src="/post_images/red.png" width="30px" />
            <% else %>
              <img src="/post_images/black.png" width="30px" />
            <% end %>
          </div>
        <% end %>
    </div>
    <h2>メモ</h2>
    <div>
      <%= @item.content %>
    </div>
    </div>
  </div>  
</div>



  <h2>
    <%= @flash_message %>
  </h2>
  <p>
    <%= link_to "ツイート更新", {:controller => "tweets", :action => "get_tweets"}, method: :get %>
  </p>
  <p>
    <% if @content_type %>
      <%= link_to "テキスト表示", {:controller => "items", :action => "show", :id => @item.id, :tweet_screen => false}, method: :get %>
    <% else %>
      <%= link_to "ツイート表示", {:controller => "items", :action => "show", :id => @item.id, :tweet_screen => true}, method: :get %>
    <% end %>
　 </p>

  <div>
    <table ~~~ style="table-layout:fixed;width:100%;" class="<%"sample" if true %>">

    
      <colgroup>
        <col style="width:50%;">
        <col style="width:20%;">
        <col style="width:30%;">
      </colgroup>
      <tr>
        <th>関連するツイート</th><th></th><th>日時</th>
      </tr>
    <% @tweets.each do |tweet| %>
        <tr>
        <td ~~~  style="word-wrap:break-word;>
          <% if @content_type %>
            <%= link_to tweet.html_content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% else %>
            <%= link_to tweet.content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% end %>
        </td>
        <td ~~~ >
          <%= (tweet.item && tweet.item.name) || '' %>
        </td>
        <td>
          <%= (tweet.created_at.to_s.split('+')[0]) || '' %>
        </td>  
        </tr>    
    <% end %>
   </div>
  </table>
</div>  
  

  
  
</div>  
