<h2 style="text-align: center">詳細情報</h2>


<div id="wrapper">  

<!--sidebar部分-->  
<div id="sidebar-top">  
  <h3>コメント一覧</h3> 
  <h3>商品一覧</h3> 
  <h3>ログアウト</h3> 
</div>  

<div id="contents"> 
<h2>
  <%= link_to "topへ", :controller => "items", :action => "index"  %>
</h2>
<h2>
  名前: <%= @item.name %>
  <div>
  <% if @item.image_path %>
    <img src="/post_images/<%= @item.image_path %>" width="200px" />
  <% end %>
</div>
</h2> 
  <p>
    <%= link_to "ツイート更新", {:controller => "tweets", :action => "get_tweets"}, method: :get %>
  </p>
  <p>
    <% if @content_type %>
      <%= link_to "テキスト表示", {:controller => "items", :action => "show", :id => @item.id, :tweet_screen => false}, method: :get %>
    <% else %>
      <%= link_to "ツイート表示", {:controller => "items", :action => "show", :id => @item.id, :tweet_screen => true}, method: :get %>
    <% end %>
　 </p>

  <div>
    <table ~~~ style="table-layout:fixed;width:100%;" class="<%"sample" if true %>">

    
      <colgroup>
        <col style="width:50%;">
        <col style="width:20%;">
        <col style="width:30%;">
      </colgroup>
      <tr>
        <th>ツイート</th><th></th><th>日時</th>
      </tr>
    <% @tweets.each do |tweet| %>
        <tr>
        <td ~~~  style="word-wrap:break-word;>
          <% if @content_type %>
            <%= link_to tweet.html_content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% else %>
            <%= link_to tweet.content.html_safe, :controller => "tweets", :action => "show", :id => tweet.id%>
          <% end %>
        </td>
        <td ~~~ >
          <%= (tweet.item && tweet.item.name) || '' %>
        </td>
        <td>
          <%= (tweet.created_at.to_s.split('+')[0]) || '' %>
        </td>  
        </tr>    
    <% end %>
   </div>
  </table>
</div>  
  

  
  
</div>  
